@import url("reset.css");

a {
  text-decoration: none;
  color: #50c3af;;
}
body {
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  color: #45494d;
}
body > header {
  background: #3d3d3d;
  padding: 130px 0 50px 0;
}
body > header h1 {
  padding: 0 0 120px 0;
  margin: 0 0 125px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 68px;
  font-weight: normal;
  background: transparent url("code_logo.png") 50% 100% no-repeat;
}
body > header h1 a {
  color: #fff;
}
nav ul {
  text-align: center;
}
nav li {
  display: inline;
  padding: 0 25px;
  text-transform: uppercase;
}
nav a {
  color: #fff;
}
nav a.active {
  color: #50c3af;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 0;
  overflow: hidden;
}
h2 {
  font-size: 36px;
  padding: 0 0 20px 0;
}
h2 a {
  color: #45494d;
}
h2 a:hover {
  color: #50c3af;
}
h3 {
  font-size: 16px;
  text-transform: uppercase;
  color: #384048;
  padding: 0 0 25px 0;
}
article p {
  padding: 0 0 15px 0;
}
p {
  line-height: 1.5em;
}
article {
  padding: 0 0 65px 0;
}
#content {
  width: 65%;
  float: left;
  padding: 0 11.5% 0 0;
}
#sidebar {
  overflow: hidden;
  color: #787b80;
  font-size: 14px;
  padding: 35px;
  background: #f6f7f8;
  box-sizing: border-box;
}
#sidebar li a {
  color: #787b80;
}
#sidebar ul {
  padding: 0 0 105px 20px;
  list-style: url("blt_arrow.png");
}
#sidebar li {
  padding: 0 0 5px 0;
}
.button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: #50c3af;
  color: #f5f5f5;
  font: normal 15px "Avenir", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 5px 25px;
  border-radius: 20px;
  margin-right: 25px;
}
.pagination a.disabled {
  background: #d2d5da;
  cursor: default;
}
footer {
  max-width: 1000px;
  font-size: 12px;
  color: #7e8287;
  border-top: 1px solid #d0d0d0;
  margin: 0 auto;
  padding: 15px 0 30px 0;
}
.comments article {
  padding-bottom: 30px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 450px;
  height: 38px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  font: normal 15px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
textarea {
  width: 100%;
  height: 140px;
  resize: none;
}
form dt {
  font-weight: bold;
  padding: 0 0 5px 0;
}
form dd {
  padding: 0 0 15px 0;
}
.comments article header img {
  border-radius: 100%;
  margin: 0 5px 0 0;
  vertical-align: middle;
}
.comments article header h3 {
  display: inline;
  text-transform: none;
  vertical-align: middle;
  font-weight: normal;
  font-size: 20px
}
.comments header {
  padding: 0 0 20px 0;
}
input[type="checkbox"] {
  display: none;
}
form h2 {
  padding: 20px 0 0 0;
}
#toggle_form { display: none; }
#toggle_form:checked + form {
  left: 0;
  height: auto;
}
form {
  position: relative;
  left: -100%;
  height: 0;
  padding: 25px 0 0 0;
  -webkit-transition: left 200ms linear;
  transition: left 200ms linear;
}
@media (max-width: 768px) {
  body header {
    padding: 30px 0 15px 0;
  }
  body > header h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  #content article header {
    padding: 0 0 15px 0;
  }
  #content article header p {
    padding: 0;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #content {
    float:none;
    padding: 0 30px 50px 30px;
    width: auto;
    box-sizing: border-box;
  }
  main article {
    padding: 0 0 55px 0;
  }
  .block {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
  #sidebar ul {
    padding-bottom: 0;
  }
  #sidebar li {
    padding: 0;
  }
  #sidebar {
    padding: 30px;
    margin-bottom: 10px;
  }
}

@media (max-width: 496px) {
  #sidebar {
    padding: 0;
    margin: 0;
    background: none;
    width: 100%;
  }
  .block {
    display: block;
    padding: 20px;
    margin: 25px;
    width: auto;
    background: #f6f7f8;
    box-sizing: border-box;
  }
  #content {
    padding-bottom: 30px;
  }
  main {
    padding-bottom: 90px;
  }
  body > header h1 {
    background-size: 100%;
    margin: 0 20px;
    padding-bottom: 90px;
  }
  nav {
    padding-top: 50px;
  }
  nav li {
    display: inline-block;
    box-sizing: border-box;
    width: 49%;
    padding-top: 10px
  }
  body > header {
    padding-bottom: 10px;
  }
}
