@import url("sd-whitespace-reset.css");

* {
  box-sizing: border-box;
}
body {
  font: normal 20px "Avenir", Helvetica, Arial, sans-serif;
  color: #45494d;
  padding: 100px 0 0 0;
  text-align: center;
  background: #2f2840 url("file:///Users/Home/Desktop/lesson_4/company_site/images/bg_body.gif") 50% 0 repeat;
}
h1 a {
  display: inline-block;
  margin: 0 auto;
  width: 298px;
  height: 243px;
  text-indent: -5000px;
  background: transparent url("file:///Users/Home/Desktop/lesson_4/company_site/images/logo.png") 0 0 no-repeat;
}
nav {
  font-size: 24px;
  text-transform: uppercase;
  padding: 40px 0 60px 0;
}
nav li {
  display: inline;
  padding: 0 42px;
}
nav a {
  color: #cacaca;
}
nav a.active {
  font-weight: bold;
  color: #6db9ff;
}
main {
  background: #fff;
  padding: 75px 0 0 0;
}
p {
  margin: 1em 0;
}
h2 {
  font-size: 36px;
  font-weight: 600;
  margin: .83em 0;
}
h2:before, h2:after {
  display: inline-block;
  content:"\2022";
  font-size: 22px;
  padding: 0 24px;
  vertical-align: 5px;
}
.column {
  max-width: 1000px;
  margin: 0 auto;
}
h3 {
  font-size: 24px;
  color: #3e59b2;
  margin: 1em 0;
}
a {
  text-decoration: none;
}
article {
  padding: 0 110px 100px 110px;
}
article p {
  text-align: justify;
}
footer {
  background: #e7e7e7;
  padding: 75px 0;
  color: #b2b2b2;
}
footer p {
  padding: 0 0 40px 0;
}
footer li {
  display: inline-block;
  padding: 0 62px;
}
footer li a {
  display: block;
  background: transparent url("file:///Users/Home/Desktop/lesson_4/company_site/images/icons_social-media.png") 0 0 no-repeat;
  height: 46px;
  width: 46px;
  text-indent: 47px;
  overflow: hidden;
}
footer li a.facebook {
  background-position: 0 -46px;
}
footer li a.email {
  background-position: 0 -92px;
}
footer li a.instagram {
  background-position: 0 100%;
}
#projects article {
  padding: 0 0 50px 0;
}
#projects article p {
  padding: 0 110px;
  margin: 0;
}
#projects figure {
  padding: 0 30px 20px 30px;
}
#projects figure img {
  display: block;
  width: 100%
}
#projects article + article {
  padding-top: 60px;
  border-top: 1px solid #cccccc;
}
#team article {
  padding: 0 0 100px 0;
}
#team p {
  padding: 0 110px 100px 110px;
}
#team ul {
  margin: 20px 0;
}
#team li {
  display: inline-block;
  padding: 0 30px;
  font-size: 24px;
}
#team li a {
  text-decoration: none;
  color: #3e59b2;
}
#team li img {
  display: block;
  margin: 0 0 20px 0;
}
@media (max-width: 875px) {
  #team li {
    width: 48%;
    padding: 0 0 30px 0;
  }
  #team li img {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  body {
    padding-top: 45px;
  }
  h1 {
    margin: .67em 0;
    font-size: 2em;
  }
  h1 a {
    width: 223px;
    height: 182px;
    margin-bottom: 30px;
    background-size: cover;
  }
  nav {
    padding: 0;
  }
  nav ul {
    margin: 1em 0;
  }
  main {
    padding-top: 40px;
  }
  article {
    padding: 0 40px 50px 40px;
  }
  footer {
    padding: 35px 0;
  }
  footer li {
    padding: 0 32px;
  }
  #projects article p {
    padding: 0 30px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 16px;
    padding: 0;
  }
  header {
    padding: 15px 20px;
  }
  header h1 {
    float: left;
    margin: 20px 0 0 0;
  }
  header h1 a {
    width: auto;
    height: 50px;
    padding: 10px 0 0 55px;
    text-indent: 0;
    font-size: 22px;
    color: #ffffff;
    background-position: -20px 0;
    background-size: 90px auto;
  }
  nav {
    text-align: right;
    padding: 0;
  }
  nav ul {
    margin: 0;
  }
  nav li {
    display: block;
    font-size: 16px;
    padding: 5px 0;
  }
  h2 {
    font-size: 26px;
  }
  h2:before, h2:after {
    display: inline-block;
    content:"\2022";
    font-size: 22px;
    padding: 0 24px;
    vertical-align: 0;
  }
  h3 {
    font-size: 22px;
  }
  article p {
    margin: 1em 0;
  }
  footer {
    padding: 20px;
  }
  footer p {
    padding: 0 0 40px 0;
  }
  footer li {
    padding: 0 18px;
  }
  #team article p {
    padding: 0 30px;
  }
}
