@import url("reset.css");

body {
  background: #ffd505;
  color: black;
  font: normal 16px Helvetica, Arial, sans-serif;
}
header, main {
  width: 900px;
  margin: 0 auto;
}
header {
  background: #047ec1;
  padding: 30px 0;
  margin-bottom: 30px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
h1 {
  font-size: 2.4em;
  padding: 0 25px;
  color: white;
}
main {
  background: #ececec;
  padding: 25px;
  box-sizing: border-box;
}
main:after {
  display: block;
  clear: both;
  content: "";
}
h2 {
  font-size: 2em;
  padding-bottom: 25px;
}
li {
  float: left;
  margin: 0 0 2% 2%;
  width: 23.5%;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
}
li:nth-of-type(4n+1) {
  margin-left: 0;
}
h3 {
  font-size: 1.2em;
  padding: 0 0 5px 0;
}
img {
  display: block;
  width: auto;
  height: 140px;
  margin: 0 auto;
}
figure {
  width: 100%;
  height: 160px;
}
input[type="checkbox"] { display: none; }
input:checked + figure img {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 400px;
  height: auto;
  margin: 0 0 0 -200px;
  z-index: 2;
}
input:checked + figure:before {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  content: "";
  background: rgba(0, 0, 0, 0.4);
}
