body {
  margin: 0;
  font: normal 16px Helvetica, Arial, sans-serif;
  background: black;
  color: white;
}
main {
  padding: 40px 20px 20px 20px;
  background: gray;
  min-width: 600px;
  max-width: 1000px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
}
figure img{
  box-sizing: border-box;
  border: 15px solid white;
}
figcaption {
  padding: 10px 0 0 0;
}
ul {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
  font-size: 0;
}
li {
  display: inline-block;
  box-sizing: border-box;
  width: 25%;
  padding: 20px 10px;
}
li img {
  border: 3px solid white;
}
